/*	****************************************
	Modules 
	**************************************** */
.container {
	margin: 0 auto;
	width: 95%;
	max-width: 960px; 
}

.content {
	text-align: left;
	overflow: auto;
}

/* ******************************************
  Sections
****************************************** */

body {
  font-family: 'Raleway', sans-serif;
}

#first {	
	background: 
    linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(255, 255, 255, 0.45)
    ),
    url(../images/seigaiha.png);
}

h1 {
	text-align: left;
	font-size: 70px;
	font-family: 'Space Mono', sans-serif;
	font-weight: lighter;
}

#first h1 {
  font-size: 100px;
}

#first .content {
	position: absolute;
  bottom: 50px;
  margin: 0 auto;
	width: 95%;
	max-width: 960px;
	overflow: hidden;
}

#first p {
	float: left; 
	width: 80%; 
}

#first .content .button {
  background-color: #CCC;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  float: right;
  width:8%;
}

#second {  
  text-align: left;
  display: flex;
  background: 
    linear-gradient(
      rgba(255, 255, 255, 0.45), 
      rgba(255, 255, 255, 0.45)
    ),
    url(../images/old_moon.png);
}

#second p {
  float: left;
  display: inline-block;

}

#second img {
  float: right;
  display: inline-block;
  margin: 10px;
}

.accomp {
  display: block;
}